<section id="button-section" class="mx-auto mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 m-2 text-center">
        <mat-form-field *ngIf="workSheetNames" class="w-50 text-center">
          <mat-label>Select File Sheet</mat-label>
          <mat-select
            (click)="onChangeCheckDetect()"
            [(value)]="workSheetNames[0]"
          >
            <mat-option
              *ngFor="let sheetName of workSheetNames"
              [value]="sheetName"
              (click)="onSheetSelect(sheetName)"
            >
              {{ sheetName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- style="display: inherit; justify-content: inherit; flex-wrap: inherit;" -->
      <div
        class="d-flex flex-row justify-content-around flex-wrap w-50 mx-auto"
      >
        <div class="m-2">
          <button
            mat-raised-button
            color="warn"
            (click)="uploadFileInput.click()"
            title="Upload File"
          >
            <input
              multiple="false"
              hidden="true"
              type="file"
              (change)="onFileChange($event)"
              #uploadFileInput
            />
            <i class="fas fa-upload fa-2x"></i>
          </button>
        </div>

        <!-- <div *ngIf="workSheetNames" style="display: inherit; justify-content: inherit; flex-wrap: inherit; align-items: inherit;"> -->
        <div class="m-2" *ngIf="workSheetNames">
          <button
            mat-raised-button
            color="primary"
            (click)="onSaveSheet(selectedSheet)"
            [disabled]="!tableModified"
            title="Save Sheet"
          >
            <i class="fas fa-save fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i
              class="fas fa-angle-right"
            ></i
            >&nbsp;&nbsp;'{{ selectedSheet }}'
          </button>
        </div>
        <!-- <mat-form-field> -->
        <div class="m-2 item-hl" *ngIf="workSheetNames">
          <button
            mat-raised-button
            color="accent"
            (click)="onDeleteSelected()"
            [disabled]="!tableSomethingSelected"
            title="Delete Selected"
          >
            <i class="fas fa-trash-alt fa-2x"></i>
          </button>
        </div>
        <!-- </mat-form-field> -->
        <!-- <mat-form-field> -->
        <div class="m-2" *ngIf="workSheetNames">
          <div class="dropdown">
            <button
              mat-raised-button
              class=" dropdown-toggle bg-success"
              data-toggle="dropdown"
              title="Export Data"
            >
              <i class="fas fa-file-export fa-2x"></i>
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                (click)="workBookToXlsx()"
                title="Export WorkBook to => XLSX"
              >
                <i class="fas fa-file-export"></i> &nbsp;&nbsp;&nbsp;<i
                  class="fas fa-angle-right"
                ></i
                >&nbsp;&nbsp;&nbsp;XLSX</a
              >
              <a
                class="dropdown-item"
                (click)="currentSheetToCsv(selectedSheet)"
                title="Export Current Sheet To
                => CSV"
              >
                <i class="fas fa-file-export"></i> &nbsp;&nbsp;&nbsp;<i
                  class="fas fa-angle-right"
                ></i
                >&nbsp;&nbsp;&nbsp;CSV</a
              >
              <a
                class="dropdown-item"
                (click)="currentSheetToJson(selectedSheet)"
                title="Export Current Sheet To => JSON"
                ><i class="fas fa-file-export"></i> &nbsp;&nbsp;&nbsp;<i
                  class="fas fa-angle-right"
                ></i
                >&nbsp;&nbsp;&nbsp;JSON</a
              >
            </div>
          </div>
        </div>
        <div class="m-2" *ngIf="workSheetNames">
          <div class="dropdown">
            <button
              mat-raised-button
              class="dropdown-toggle bg-info"
              data-toggle="dropdown"
              title="Insert Cols&Rows. Elements Inserts After Selected Col&Row"
              [disabled]="!selectedSheet"
            >
              <!-- <i class="fas fa-plus-square fa-2x"></i> -->
              <i class="far fa-plus-square fa-2x"></i>
            </button>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                (click)="insertColumn()"
                style="cursor: pointer;"
                title="Insert Column After Selected Col"
              >
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;<i
                  class="fas fa-angle-right"
                ></i
                >&nbsp;&nbsp;&nbsp;Column
              </a>
              <a
                class="dropdown-item"
                (click)="insertRow()"
                style="cursor: pointer;"
                title="Insert Row After Selected Row"
              >
                <i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;<i
                  class="fas fa-angle-right"
                ></i
                >&nbsp;&nbsp;&nbsp;Row
              </a>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- ngIf vasibility condition end -->
      </div>
      <!-- flex row end -->
    </div>
    <!-- main row end -->
  </div>
  <!-- main container end -->
  <!-- <div class="container"> -->
  <!-- <div class="row"> -->
  <!-- class="col-10 text-right mt-2"  style="width: 87%-->
  <div class="d-flex flex-row flex-wrap justify-content-center my-3">
    <div *ngIf="willDownload">
      <a
        id="download"
        mat-raised-button
        color="primary"
        title="Download Exported File"
      >
        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
        {{ fileType }}</a
      >
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</section>

<div class="container">
  <div class="row">
    <div id="output" class="mx-auto text-center"></div>
  </div>
</div>

<app-snack-bar></app-snack-bar>
<app-dialog-window></app-dialog-window>
