<div mat-dialog-content class="text-center">
  <h5>
    You Have Unsaved Changes in
    <strong class="text-danger">"{{data.sheetNameToSave}}"</strong> Sheet, Save It For You?
  </h5>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="onNoClick()">
    No Thanks
  </button>
  <button
    mat-raised-button
    color="primary"
    cdkFocusInitial
    (click)="onOkClick(data.sheetNameToSave, data.tableEl)"
  >
    Yes, Of Course
  </button>
</div>
<app-snack-bar></app-snack-bar>